#bwdl-graph {
  height: calc(100% - 36px);
  width: 100%;
  display: flex;

  .sidebar.left {
    > .sidebar-main-container {
      > div {
        height: 100%;
      }
    }
  }  
}

.selected-node-container {
  padding: 10px;

  .node-property {
    margin-bottom: 10px;

    .choices {
      padding-left: 10px;
      margin-bottom: 10px;

      .and-object {
        padding-left: 10px;
        margin-bottom: 5px;
      }
    }

    .node-sub-property {
      padding-left: 10px;
    }
  }

  label {
    font-weight: bold;
  }
}
